In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [27]:
np.array(labels).shape

(3,)

In [3]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [4]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [6]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

#

In [7]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [8]:
from numpy.random import randn

In [9]:
np.random.seed(101)

In [14]:
df = pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','u'])

In [15]:
df

          w         x         y         u
a  0.386030  2.084019 -0.376519  0.230336
b  0.681209  1.035125 -0.031160  1.939932
c -1.005187 -0.741790  0.187125 -0.732845
d -1.382920  1.482495  0.961458 -2.141212
e  0.992573  1.192241 -1.046780  1.292765

In [16]:
df['w']

a    0.386030
b    0.681209
c   -1.005187
d   -1.382920
e    0.992573
Name: w, dtype: float64

In [19]:
df[(df['w'] > 0) | (df['y'] > 1)]

          w         x         y         u
a  0.386030  2.084019 -0.376519  0.230336
b  0.681209  1.035125 -0.031160  1.939932
e  0.992573  1.192241 -1.046780  1.292765

In [20]:
df.drop('a')

          w         x         y         u
b  0.681209  1.035125 -0.031160  1.939932
c -1.005187 -0.741790  0.187125 -0.732845
d -1.382920  1.482495  0.961458 -2.141212
e  0.992573  1.192241 -1.046780  1.292765

In [21]:
df

          w         x         y         u
a  0.386030  2.084019 -0.376519  0.230336
b  0.681209  1.035125 -0.031160  1.939932
c -1.005187 -0.741790  0.187125 -0.732845
d -1.382920  1.482495  0.961458 -2.141212
e  0.992573  1.192241 -1.046780  1.292765

In [22]:
df['w'] > 0

a     True
b     True
c    False
d    False
e     True
Name: w, dtype: bool

In [23]:
df.reset_index()

  index         w         x         y         u
0     a  0.386030  2.084019 -0.376519  0.230336
1     b  0.681209  1.035125 -0.031160  1.939932
2     c -1.005187 -0.741790  0.187125 -0.732845
3     d -1.382920  1.482495  0.961458 -2.141212
4     e  0.992573  1.192241 -1.046780  1.292765