In [1]:
1 + 1

2

In [2]:
1.0 + 2.0

3.0

In [3]:
1 + 1.3

2.3

In [4]:
2 ** 4

16

In [5]:
2 / 0

ZeroDivisionError: division by zero

In [6]:
0/ 0

ZeroDivisionError: division by zero

In [14]:
x = 2
y = 3
x + y
print ('the total is {}, and x is {}, y is {}'.format((x+y),x,y))

the total is 5, and x is 2, y is 3

In [15]:
s = 'single quote'

In [16]:
s[0]

's'

In [17]:
s[6]

' '

In [18]:
s[0:]

'single quote'

In [19]:
s[:3]

'sin'

In [20]:
s[0:3]

'sin'

In [21]:
[1,2,3]

[1, 2, 3]

In [22]:
list = [1,2,3]

In [23]:
list.append('d')

In [24]:
list

[1, 2, 3, 'd']

In [26]:
list[1:2]

[2]

In [29]:
nest = [1,[2,3],4]
nest[1][0]

2

In [30]:
d = {'key1':'value', 'key2': 123}

In [34]:
d["key1"]

'value'

In [35]:
d1 = {'key1':'value', 'key2':[1,2,3]}
d1['key2'][1]

2

In [36]:
mylist = d1['key2']

In [37]:
mylist

[1, 2, 3]

In [38]:
True

True

In [40]:
list = (1,2,3)

In [41]:
list[0]

1

In [43]:
list[0] = 'new'

TypeError: 'tuple' object does not support item assignment

In [44]:
{1,2,1}

{1, 2}

In [45]:
s={1,2,3,4,3,2}
set(s)

{1, 2, 3, 4}

In [46]:
1 >2

False

In [48]:
if 2 > 1:
    print('yep')

yep

In [49]:
seq = [1,2,3,4,5]
for item in seq:
    print(item)

1
2
3
4
5

In [1]:
range(1,5)

range(1, 5)

In [1]:
for x in range(1,5):
    print(x)

1
2
3
4

In [2]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [15]:
x = [1 ,2 ,3,4]
out = []
for item in x:
    out.append(item**2)
    
print(out)
[item ** 2 for num in x]
print(item)

[1, 4, 9, 16]
4

In [9]:
print(out)

[1, 4, 9, 16]

In [16]:
[item ** 2 for item in x]

[1, 4, 9, 16]

In [11]:
    [item ** 2 for num in x]

[16, 16, 16, 16]

In [17]:
def my_fun(param1):
    print(param1)

In [19]:
my_fun('c')

c

In [20]:
my_fun

In [21]:
range

range

In [22]:
def times(var):
    return var**2

In [23]:
times(2)

4

In [25]:
seq = [1,2,3,4,5]
for item in seq:
    print(times(item))

1
4
9
16
25

In [27]:
list(map(times,seq))

[1, 4, 9, 16, 25]

In [28]:
s = 'i am a Girl'

In [29]:
s.lower()

'i am a girl'